APP_ENV=production
APP_VERSION=v2.4-prd
ADMIN_EMAILS=
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=7535235489
TELEGRAM_MIN_SEVERITY=warning
APP_ALLOWED_ORIGINS=https://habitflow-5f945.web.app,https://habitflow-5f945.firebaseapp.com
PAYMENT_PROVIDER=mercadopago
PAYMENT_MODE=sandbox
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
EMAIL_PROVIDER=future
