publish/
dist/
*.zip
*.7z
*.rar
*.tar
*.gz
*.exe
*.dll
*.bin
*.map
.firebase/
node_modules/
functions/node_modules/
.env
.env.local
.env.production
.runtimeconfig.json
*.log
.DS_Store
serviceAccount*.json
firebase-adminsdk*.json
*.pem
*.key

scripts/publisher/publisher.config.json
